<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowAnyShortcut</key>
	<true/>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>bottomLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>6</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>bottomRight</key>
	<dict>
		<key>keyCode</key>
		<integer>7</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>centerThird</key>
	<dict>
		<key>keyCode</key>
		<integer>19</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>firstThird</key>
	<dict>
		<key>keyCode</key>
		<integer>18</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>firstTwoThirds</key>
	<dict>
		<key>keyCode</key>
		<integer>21</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>lastThird</key>
	<dict>
		<key>keyCode</key>
		<integer>20</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>launchOnLogin</key>
	<true/>
	<key>reflowTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
	<key>toggleTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>topLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>0</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>topRight</key>
	<dict>
		<key>keyCode</key>
		<integer>1</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
</dict>
</plist>
